body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #3d546c;
    color: white;
    text-align: center;
    padding: 40px;
}

header h1 {
    font-size: 40px;
}

header p {
    font-size: 16px;
}