body {
    font-family: 'Courier New', monospace;
    background-color: #090b14;
    color: #e0f2fe;
    background-image: 
        linear-gradient(rgba(9, 148, 176, 0.25) 1px, transparent 1px),
        linear-gradient(90deg, rgba(9, 148, 176, 0.25) 1px, transparent 1px);
    background-size: 40px 40px;
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

header {
    color: #00d4ff;
    text-align: center;
    padding: 15px 20px 10px 20px;
}

header h1 {
    font-size: 48px;
    color: #17ffff;
    text-shadow: 0 0 30px #17ffff;
    margin: 10px 0 5px 0;
}

header p {
    font-size: 12px;
}

nav {
    text-align: center;
    padding: 14px 20px;
    background-color: rgba(1, 68, 68, 0.3);  /* Semi-transparent dark cyan */
    border-top: 1px solid #17ffff34;  /* 33 at the end = transparency */
    border-bottom: 1px solid #17ffff34;
}

nav a {
    color: #18b54f;
    text-decoration: none;
    margin: 0 20px;
    font-size: 14px;
    padding: 5px 10px;
}

nav a:hover {
    color: rgb(0, 255, 26);
}

.button {
    background-color: transparent;
    color: #17ffff;
    border: 2px solid #17ffff;
    padding: 10px 30px;
    text-decoration: none;
    display: inline-block;
    margin: 5px;
    box-shadow: 0 0 15px #31afaf;
    cursor: pointer;
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.button:hover {
    background-color: #39c6c6;
    color: black;
    box-shadow: 0 0 15px #31afaf;
}

main {
    padding: 20px;
    text-align: center;
}

.projects {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap; 
}

.project-box {
    background-color: rgba(1, 58, 116, 0.6);
    border: 1px solid #17ffff;
    min-width: 300px;  
    padding: 20px;
    flex-shrink: 0;  
}

.project-box:hover {
    box-shadow: 0 0 15px #31afaf;
    transform: scale(1.05);
}

.project-box h3 {
    color: #17ffff;
    font-size: 18px;
}

.project-box p {
    color: #88ddff;
    font-size: 14px;
}

.project-image {
    width: 750px;
    height: auto;
    border: 1px solid #17ffff;
    box-shadow: 0 0 15px #31afaf;
}

.gif-image {
    width: 300px;
    height: auto;
    border: 1px solid #17ffff;
    box-shadow: 0 0 15px #31afaf;
}

/* Terminal Container */
.terminal {
    max-width: 900px;
    margin: 0 auto;
    background-color: #000000;
    border: 2px solid #17ffff;
    box-shadow: 0 0 15px #31afaf;
}

.terminal-header {
    background-color: #111;
    padding: 5px 15px;
    border-bottom: 1px solid #17ffff;
    color: #17ffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dots {
    font-size: 30px;
}

.red {
    color: #f90f02;
}

.yellow {
    color: #ffbd2e;
}

.green {
    color: #27c93f;
}

.terminal-body {
    padding: 20px;
    color: #17ffff;
}